
/*------------------- Global styling -------------------*/

/* dark - #807A6E */
/* black - #051133 */

html {
  scroll-behavior: ;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow-x: hidden;
    max-width: 100vw;
}

h1 {
    font-family: 'playfair display';
    font-weight: 400;
    font-size: 35px;
    margin: 0;
    margin-bottom: 20px;
    line-height: 100%;
    color: #807A6E;
    text-align: center;
}

h2 {
    font-family: 'playfair display';
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    line-height: 100%;
    color: #807A6E;
    margin: 60px 0;
}

h4 {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #24335B;
}

p {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: #807A6E;
    text-align: center;
    margin: 0;
}

a {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #807A6E;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}

hr {
    width: 100%;
    border-top: #a68936 solid 1px;
    margin: 0;
    margin-bottom: 40px;
}

.section {
    width: 100%;
    padding: 0 4%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vw_size {
    min-height: 100vh;
    width: 100%;
}

.img-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-stationery {
    height: 40vh;
    margin-top: 5vh;
}

.img-stationery img {
    height: 100%;
}

.img-box img {
    height: 100%;
}

.hide {
    opacity: 0;
}

.motif {
    width: 100px;
}

.motif.flipped {
    transform: rotate(180deg);
}

.heart-line {
    width: 100px;
    margin: auto;
    align-self: center;
}

.break-patch {
    position: absolute;
    width: 120px;
    
}

.break-patch.top {
    top: -30px;
    
}

.break-patch.bottom {
    transform: rotate(180deg);
    bottom: -30px;
    
}


@media(min-width:768px){
    
    h1 {
        font-size: 70px;
    }
    
    h2 {
        font-size: 5vw;
        margin: 00;
    }
    
    .img-box img {
        height: auto;
        width: 100%;
    }

    .img-stationery {
        height: auto;
    }

    .img-stationery img {
        height: auto;
        width: 100%;
    }
    
    p {
        max-width: 800px;
    }

    a:hover {
        color: #B9A96E; 
    }


}

/*----------------------- Nav -----------------------*/

.nav {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 4%;
}

a.nav-brand {
    position: relative;
    z-index: 4;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    font-size: 28px;
    text-decoration: none;
    padding: 0 0;
}

#menu-btn {
    cursor: pointer;
    position: relative;
}

.nav-div {
    position: absolute;
    top: 0px;
    left: 0;
    height: 0px;
    width: 100%;
    padding: 4%;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: height 0.5s;
}

.links-div {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-div.open {
    height: 100vh;
}

.nav-div a {
    font-family: 'playfair display';
    font-style: italic;
    font-size: 6vw;
    opacity: 0;
    transition: opacity 0.4s;
    margin: 4% 0%;
}

.nav-div.open a {
    opacity: 1;
}

.nav-div hr {
    border-top: #807A6E solid 1px;
    width: 0;
    margin: 0;
    opacity: 0;
    transition: opacity 0.4s, width 0.6s;
}

.nav-div.open hr {
    margin: 0;
    opacity: 1;
    width: 100%;
}

@media(min-width:768px) {
    
    #menu-btn {
        display: none;
    }
    
    .nav-div {
        position: relative;
        top: 0;
        width: auto;
        height: 100%;
        padding: 0;
        flex-direction: row;
        align-items: center;
    }
    
    .nav-div.open {
        height: 100%;
    }
    
    .links-div {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    
    .nav-div a {
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        opacity: 1;
        font-size: 16px;
        padding-left: 30px;
    }

}

/*------------------- The Big Day -------------------*/

#land {
    height: 95vh;
    padding: 80px 4% 0 4%;
    justify-content: flex-start;
}

#land .img-box {
    height: 76vh;
}

.big-day-text {
    position: absolute;
    bottom: 10vw;
    width: 60vw;
}

.big-day-text img {
    width: 100%;
}

#land h1 {
    margin: 6vh 0;
}

.down {
    margin-top: 20px;
    width: 20px;
}

.section.intro {
    padding-bottom: 100px;
}

@media(min-width:768px) {
    
    #land {
        height: 100vh;;
    }
    
    #land .img-box {
        height: calc(90vh - 80px);
    }
    
    .down {
        position: absolute;
        top: 92vh;
    }
    
    .section.intro {
        padding: 50px 0 100px 0;
    }
    
    .section.intro p {
        width: 600px
}

}

/*------------------- service intro -------------------*/

.section.service {
    position: relative;
    width: 92%;
    margin: auto;
    padding: 100px 20px;
    background-image: linear-gradient(#001F33, #001f2F);
}

.section.service h1 {
    color: #a68936;
    margin: 20px 0;
}

.section.service p {
    color: #989ea0;
    margin: 20px 0;
}

@media(min-width:768px) {
    
    .section.service h1, .section.service p {
        margin: 35px 0;
    }
    
}

/*------------------- Features -------------------*/

.features {
    position: relative;
    width: 92%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features .break-patch {
    top: -20px;
    
}

.sub-section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box {
    position: static;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sub-section p {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    width: 85%;
    margin: 60px 0;
}

.sub-section .img-box {
    height: 92vw;
    overflow: hidden;
    margin: 0;
}

.sub-section .img-box img {
    height: 92vw;
    width: auto;
}

.heart-line {
    margin: 0;
}

@media(min-width:768px) {
    
    .section.web-intro {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    
    .features {
        padding: 0; 
        background-color: white;
    }
    
    .sub-section {
        position: relative;
        height: 80vh;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .text-box {
        width: 50%;
        padding: 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .sub-section.right .text-box {
        margin-left: 50%;
    }
    
    .sub-section h2 {
        text-align: left;
    }
    
    .sub-section p {
        font-size: 20px;
        text-align: left;
        max-width: 500px;
        margin: 20px 0;
    }
    
    .sub-section .img-box {
        position: absolute;
        right: 0;
        height: 100%;
        width: 50%;
        margin: 0;
    }
    
    .sub-section.right .img-box {
        left: 0;
        right: 100%;
    }
    
    .sub-section .img-box img {
        height: 100%;
        width: auto;
    }

    .heart-line {
        display: none;
    }
}

/*------------------- story -------------------*/


/*------------------- details -------------------*/


@media(min-width:768px) {
    
    .sub-section.details .img-box {
        height: 100%;
    }
    
}


/*------------------- RSVP -------------------*/


/*------------------- Gifts -------------------*/


/*-------------------  Memories -------------------*/

/*---swiper-slide---*/

#gallery .swiper-container {
    height: 50%;
    width: 50%;
}

#gallery .swiper-container .swiper-slide img {
    height: 100%;
    width: auto;
}


#gallery .img-box .back-g {
    position: absolute;
}


@media(min-width:768px) {
    
    #gallery {
        margin-bottom: 50px;
    }
    
    #gallery .swiper-container {
        height: 40vh;
        width: 40vh;
    }
    
}
/*---swiper-slide-end---*/

/*------------------- Stationery -------------------*/

/*------------------- call to act -------------------*/

.action {
    padding-top: 10%;
    padding-bottom: 10%;
}

.action h1 {
    margin-bottom: 50px;
}

.break-text {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action .break-text hr {
    width: 100%;
    margin: 0;
}

.break-text h4 {
    margin: 0 10px;
}

.link-box {
    display: flex;
}

.action a {
    display: flex;
    width: 100%;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    color: white;
    background-color: #807A6E;
    font-size: 35px;
    justify-content: center;
}

.action a:active {
    background-color: #B9A96E;
}

.action hr {
    margin: 20px 0;
}

.action h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

@media(min-width:768px) {
    
    .action h1 {
        padding: 0 20%;
    }
    
    .link-box {
        width: auto;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    
    .action a {
        width: auto;
        background-color: white;
        font-size: 50px;
        margin: 20px 20px;
        color: #807A6E;
    }
    
    .action a:hover{
        background-color: #B9A96E;
    }
    
    .action h2 {
        font-size: 50px;
        margin: 20px 0;
    }
}

/*------------------- Footer -------------------*/

.footer {
    height: 20vh;
    background-color: #eeeeee;
    flex-direction: row;
    justify-content: center;
}

.footer h2 {
    font-size: 22px;
    margin: 0 10px 0 0 ;
}

.footer .vertical-line {
    width: 2px;
    height: 18px;
    background-color: #807A6E;
    margin: 0 10px;
}

.footer a i {
    font-size: 20px;
    margin: 0 10px;
}

.footer-details {
    display: flex;
    flex-direction: column;
}

.footer-details div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4px 0;
}

.footer-details p, .footer-details a {
    font-size: 14px;
}

.cyberoctane:hover {
    color: black;
}

@media(min-width:768px) {
    
    .footer {
        justify-content: flex-end;
    }

    .footer-details div {
        justify-content: flex-start;
    }

}